$mm-primary-red: #e41d18;
$mm-secondary-red: #8b0502;
$mm-primary-blue: #0088cd;
$mm-secondary-blue: #00599e;
$mm-sinister-purple: #5a2d8c;
$mm-input-bg: #fff2ec;
$mm-text-color: #000101;
$mm-subtext-color: #575757;
