      <div class="mm-styled-field -fill">
        <label class="mm-styled-label -align-left"><span>Source</span></label>
        <div class="mm-styled-input">
          <select name="system.source">
            {{selectOptions sources selected=system.source labelAttr="label" blank=""}}
          </select>
        </div>
      </div>
